
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Header.cshtml";
}
@using HotelBook.Models
@model Customer
<div class="row" >
    <div class="col-md-2">

        <p>

        </p>
    </div>
    <div class="col-md-8">
        
        
            <div>
                <section id="loginForm">
                    @using (Html.BeginForm("signUp", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div>
                            <div class="col-md-8">

                                <h3 style="margin-left:40%;">SignUp Form</h3>
                                <h4>Please enter the Correct information</h4>
                            </div>
                            <div class="form-group">
                               
                                <div class="col-md-5">
                                    @Html.Label("Email", new { @class = "col-md-6" })

                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m=>m.email, new { @class = "form-control" })

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-5">
                                    @Html.Label("Hotel Name   ", new { @class = "col-md-6 " })
                                </div><div class="col-md-6">
                                    @Html.TextBoxFor(m=>m.name, new { @class = "form-control" })
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-5">
                                    @Html.Label("State  ", new { @class = "col-md-6 " })
                                </div><div class="col-md-6">
                                    @Html.TextBoxFor(m=>m.state, new { @class = "form-control" })
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-5">
                                    @Html.Label("City  ", new { @class = "col-md-6 " })
                                </div><div class="col-md-6">
                                    @Html.TextBoxFor(m=>m.city, new { @class = "form-control" })
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-5">
                                    @Html.Label("Hotel Address   ", new { @class = "col-md-6 " })
                                </div><div class="col-md-6">
                                    @Html.TextBoxFor(m=>m.address, new { @class = "form-control" })
                                </div>

                            </div>
                           
                            <div class="form-group">
                                <div class="col-md-5 ">
                                    @Html.Label("Password   ", new { @class = "col-md-6 " })
                                </div><div class="col-md-6 ">
                                    @Html.PasswordFor(m=>m.password, new { @class = "form-control" })
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-5">
                                    @Html.Label("Confirm Password   ", new { @class = "col-md-6 " })
                                </div><div class="col-md-6">
                                    @Html.PasswordFor(m=>m.cPassword, new { @class = "form-control" })
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-5">


                                </div>
                                <div class="col-md-2">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
</section>

</div>
        </div>
    
    <div class="col-md-4">
        <section id="socialLoginForm">
            
        </section>
    </div>

</div>




