@{
    Layout = "~/Views/Profile/Index.cshtml";
}
@using HotelBook.Models;
@model customerProfile
    <div class="row">
        <div class="col-md-2">

            <p>

            </p>
        </div>
        <div class="col-md-8">
            <h3>Add New Packages</h3>

            <div>
                @using (Html.BeginForm("AddPackage", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {


                    <div>
                        <div class="col-md-8">

                            <h3 style="margin-left:40%;">Packages</h3>
                            <h4>Please enter the Correct information</h4>
                        </div>
                        <div class="form-group">

                            <div class="col-md-5">
                                @Html.Label("Package Name", new { @class = "col-md-6"})

                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.package.name, new { @class = "form-control", Required = "true" })

                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-5">
                                @Html.Label("Price   ", new { @class = "col-md-6 " })
                            </div><div class="col-md-6">
                                @Html.TextBoxFor(m => m.package.price, new { @class = "form-control", Required = "true" })
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                @Html.Label("Description  ", new { @class = "col-md-6 " })
                            </div><div class="col-md-6">
                                @Html.TextAreaFor(m => m.package.description, new { @class = "form-control", Required = "true" })
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                @Html.Label("Type  ", new { @class = "col-md-6 " })
                            </div><div class="col-md-6">
                                @Html.TextBoxFor(m => m.package.type, new { @class = "form-control", Required = "true" })
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                @Html.Label("Available Number  ", new { @class = "col-md-6 " })
                            </div><div class="col-md-6">
                                @Html.TextBoxFor(m => m.package.availableNo, new { @class = "form-control", Required = "true" })
                                @Html.HiddenFor(m => m.customer.email)
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-5">


                            </div>
                            <div class="col-md-2">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>



    </div>
