@{

    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Header.cshtml";
}
@using HotelBook.Models;
@model List<Customer>

<div class="row" style="padding-top:10px;">
    <div class="col-md-4" style="border-radius:10px 10px;color:gold;border:2px solid blue">
        <div class="col-md-12" style="height:100px;">
            <div class="form-group">
                <h2 style="color:gold;">Search</h2>
            </div>
        </div>

        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-inline", role = "form"}))
        {

            <div class="col-md-4" style="height:70px;">
                <div class="form-group">
                    <p>Name</p>
                </div>
            </div>
                    <div class="col-md-8" style="height:70px">
                        <div class="form-group">
                            @Html.TextBox("searchstring", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4" style="height:70px;">
                        <div class="form-group">
                            <p>City</p>
                        </div>
                    </div>
                    <div class="col-md-8" style="height:70px">
                        <div class="form-group">

                            @Html.TextBox("searchstring1", "", new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="col-md-4" style="height:70px;">
                        <div class="form-group">
                            <p>Check In</p>
                        </div>
                    </div>
                    <div class="col-md-8" style="height:70px">
                        <div class="form-group">
                            @Html.TextBox("searchstring2", "", new { type = "Date", @class = "form-control", style = "width:110%;" })
                        </div>
                    </div>

                    <div class="col-md-4" style="height:70px;">
                        <div class="form-group">
                            <p>Check Out</p>
                        </div>
                    </div>
                    <div class="col-md-8" style="height:70px">
                        <div class="form-group">
                            @Html.TextBox("searchstring2", "", new { type = "Date", @class = "form-control", style = "width:110%; " })
                        </div>
                    </div>
                    <div class="col-md-8" style="height:70px;">

                    </div>
                    <div class="col-md-2" style="height:70px">

                        <button type="submit" class="btn btn-default">Search</button>
                    </div>

        }


    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">



        @foreach (var item in Model)
        {
            <a href="@Url.Action("post","Profile", new { email = item.email})">
                <div class="col-md-12" style="padding-bottom:5px;padding-top:5px;border:5px solid black;border-radius:10px 10px;">
                    <div class="col-md-4" style="padding-bottom:5px;padding-top:5px;">
                        <img src="~/image/@item.image" alt="" style="width:100%;" />
                    </div>
                    <h1>@item.name</h1>

                    <h4>@item.address</h4>
                    <p>
                        @for (int i = 0; i < @item.rating; i++)
                    {
                        <span class="glyphicon glyphicon-star" style="color:orange;"></span>
                    }
                    @for (int i = 0; i < 5 - @item.rating; i++)
                    {
                        <span class="glyphicon glyphicon-star"></span>
                    }
                </p>


            </div>
        </a>


        }


    </div>
</div>

